

<div class="container">
  <% if logged_in? %>
    <h4>Welcome <%= current_user.name %> </h4>
  <% end %>
        <% @articles.each do |article| %>
         <div class="col-md-4">
            <div class="social-feed-separated">
                <div class="social-feed-box">
                    <div class="pull-right social-action dropdown">
                        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu m-t-xs">
                            <li>
                                <a href="#">Report</a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-avatar">
                       <h3><%= article.source %> </h3>
                        <a href="<%= article.url %>">
                            <%= article.title %>
                        </a>
                        <small class="text-muted"> <%= article.date %> </small>
                    </div>
                    <div class="social-body">
                        <img src="<%= article.image %>">
                        <p>
                         <%= article.description %>
                        </p>

                        <div class="btn-group">
                            <%= link_to upvote_news_path(article), method: :post do%>
                                <button type="button" class="btn btn-secondary">
                                <i class="fa fa-thumbs-up"></i>
                                </button>
                            <% end %>
                            <% unless article.votes.count.zero? %>
                              <%= link_to downvote_news_path(article), method: :post do%>
                                 <button type="button" class="btn btn-secondary">
                                <i class="fa fa-thumbs-down"></i>
                                </button>
                              <% end %>
                            <% end %>
                              <%= link_to news_index_path do%>
                                 <button type="button" class="btn btn-secondary">
                                <i class="fa fa-comment"></i>
                                </button>
                              <% end %>
                        </div>
                          <% if article.votes.count.zero? %>
                                <p> No reliability rating </p>
                              <% else %>
                                <%= pluralize(article.votes.count, "Reliable Upvotes") %>
                              <% end %>

                    </div>
                </div>
            </div>
               </div>
            <% end %>
</div>
</body>

